<%- include('header')%>
<h2>
  Admin Categorias:
  <a href="/admin/vagas/categoria">Nova Categoria</a>
</h2>
<div>
  <ul>
    <% categorias.forEach(categoria =>{ %>
    <li>
      <%- categoria.categoria%>|
      <a href="/admin/vagas/excluir/categoria/<%- categoria.id %>">Excluir</a>
      <a href="/admin/vagas/editar/categoria/<%- categoria.id %>">Editar</a>
    </li>
    <% }) %>
  </ul>
</div>
<%- include('footer') %>
